body{margin: 0; padding: 0;}
		.navbar{
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: darkslategray;
	    height: 80px;
	    width: 100%;
	   }
	    ul li, li a{
	    	display: inline-block;
	    	list-style-type: none;
	    	text-decoration: none;}
	    div{border: 2px solid black;}
	    .GameUniverse{
	    	background-image: url("images/back3.jpg");
	    	height: 50vw ; width: 100%;
	    	background-size: 100% auto ;
	    	background-repeat: no-repeat; }
	    .GameUniverse>h1{
	    	color: white;
	    	margin-left: 10%;
	    	font-size: 50px;
	    	}